/* Custom Variables */
:root {
    --main-bg-color: #1F1F1F;
    --secondary-bg-color: #13324d;
    --primary-accent: #fcba03;
    --secondary-accent: #e4a700;
    --standard-font-color: #dbdbdb;
}


/* Global */

@font-face {
    font-family: 'Harry Potter Regular';
    src: url('../fonts/hpp.ttf');
    }

* {
    font-family: "Tangerine", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: url("../images/hogwarts-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container  {
    position: relative;
    width: 70%;
    margin: auto;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: var(--main-bg-color);
}

/* Header / Nav */
header {
    background: var(--secondary-bg-color);
    padding: 2.5em 2em 1.5em 2em;
    position: relative;
}

.header-title a {
    position: relative;
    color: var(--primary-accent);
    font-size: 3.6em;
    text-decoration: none;
    cursor: pointer;

    font-family: 'Harry Potter Regular';
    letter-spacing: 0.025em;
}

.header-hat {
    position: absolute;
    width: 3em;
    z-index: 1;

    left: 1.2em;
    top: 0.3em;

    transform: rotate(-30deg);
}

.navlinks {
    display: flex;
    justify-content: space-between;
}

.navlinks a {
    color: var(--standard-font-color);
    text-decoration: none;

    margin: 0.8em;
}

.nav-text span {
    font-family: 'Harry Potter Regular';
    font-size: 2.8em;

    display: inline-block;
}

.nav-text:hover {
    letter-spacing: 0.2em;
}

.nav-text:hover, .nav-text {
    transition: letter-spacing 0.25s ease-in-out;
}

.nav-text:hover span:nth-child(even) {
    transform: translateY(-0.4em);
}

.nav-text:hover span:nth-child(odd) {
    transform: translateY(0.4em);
}

span {
    transition: transform 0.25s ease-in-out;
}

/* Main body / article */

article {
    color: var(--standard-font-color);
    padding: 2em 2em;
}

.article-title {
    font-size: 4em;
    font-weight: 700;
}

.sub-article-title {
    font-size: 3em;
    color: var(--secondary-accent);
    border-bottom: var(--secondary-accent) 1px solid;
}

p {
    font-size: 2.8em;
    margin: 0.2em 0;
}

/* Footer */
footer {
    background-color: var(--secondary-bg-color);
    color: var(--standard-font-color);
    padding: 1em 2em;
    grid-row-start: 3;
    grid-row-end: 4;
}

footer h2 {
    color: var(--primary-accent);
    font-size: 2.4em;
}

footer p {
    font-size: 2em;
}

footer div {
    margin: 0.4em;
}

span.copyright {
    font-family: italic;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

/* Multi-use / repeatable */

.flex {
    display: flex;
    justify-content: space-between;
}

.accent-1 {
    color: var(--primary-accent);
}

.accent-2 {
    color: var(--secondary-accent)
}