/* Custom Variables */
:root {
    --main-bg-color: #1F1F1F; /* --main-bg-color: #ffffff; light */ 
    --secondary-bg-color: #13324d; /* --secondary-bg-color: #056F92; light */ 
    --primary-accent: #fcba03; /* --primary-accent: #ffbb00; light */ 
    --secondary-accent: #e4a700; /* --secondary-accent: #dba800; light */ 
    --standard-font-color: #dbdbdb; /* --standard-font-color: #000000; light */ 
}


/* Global */

@font-face {
    font-family: 'Harry Potter Regular';
    src: url('../fonts/hpp.ttf');
}

* {
    font-family: "Tangerine", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: url("../images/hogwarts-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container  {
    display: grid;
    grid-template-rows: max-content auto max-content;

    position: relative;
    width: 70%;
    margin: auto;
    background-color: var(--main-bg-color);
    min-height: 100vh;
}

#main {
    overflow:auto;
	padding-bottom: 180px;}

/* Header / Nav */
header {
    background: var(--secondary-bg-color);
    padding: 2.5em 2em 1.5em 2em;
    position: relative;
}

.header-title a {
    position: relative;
    color: var(--primary-accent);
    font-size: 3.6em;
    text-decoration: none;
    cursor: pointer;

    font-family: 'Harry Potter Regular';
    letter-spacing: 0.025em;
}

.header-hat {
    position: absolute;
    width: 3em;
    z-index: 1;

    left: 1.2em;
    top: 0.3em;

    transform: rotate(-30deg);
}

.navlinks {
    display: flex;
    justify-content: space-between;
}

.showBtn {
    display: none;
    font-family: 'Harry Potter Regular';
    color: var(--standard-font-color);
    font-size: 3em;
}

.navlinks a {
    color: var(--standard-font-color);
    text-decoration: none;

    margin: 0.8em;
}

.nav-text span {
    font-family: 'Harry Potter Regular';
    font-size: 2.8em;

    display: inline-block;
}

.nav-text:hover, .active {
    letter-spacing: 0.2em;
}

.nav-text:hover, .nav-text {
    transition: letter-spacing 0.25s ease-in-out;
}

.nav-text:hover span:nth-child(even), .active span:nth-child(even) {
    transform: translateY(-0.4em);
}

.nav-text:hover span:nth-child(odd), .active span:nth-child(odd) {
    transform: translateY(0.4em);
}

span {
    transition: transform 0.25s ease-in-out;
}

/* Theme switcher */
.switchTheme {
    position: fixed;
    right: 1em;
    bottom: 1em;
    background: var(--secondary-bg-color);
    border: black solid 0.2em;

    transition: transform .2s ease-in-out;
}

.switchTheme:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.switchTheme:focus {
    outline: none;
    box-shadow: none;
}

.sun {
    width: 4em;
    height: 4em;

    fill: gold;
    transform: translate(0.02em, 0.15em);
}

.moon {
    width: 4em;
    height: 4em;

    transform: translate(-0.2em, 0.3em) rotate(-30deg);
}

/* Main body / article */

article {
    color: var(--standard-font-color);
    padding: 2em 2em;
}

.article-title {
    font-size: 4em;
    font-weight: 700;

    color: var(--secondary-accent);
    border-bottom: var(--secondary-accent) solid 0.04em;

    margin-top: 0.5em;
}

.sub-article-title {
    margin-top: 0.5em;
    font-size: 3em;
    color: var(--secondary-accent);
    border-bottom: var(--secondary-accent) 0.01em solid;
}

.text-with-picture img {
    width: 20em;
    height: 20em;
    margin: 0 0 2em 2em;
    float: right;

    border: double var(--standard-font-color) 0.2em;
}

p, p > span {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-size: 1.2em;
    margin: 0.5em 0;
    text-align: justify;
}

.boldend {
    font-weight: 700;
}

.italics {
    font-style: italic;
}

.strike {
    text-decoration: line-through;
}

/* Footer */
footer {
    background-color: var(--secondary-bg-color);
    color: var(--standard-font-color);
    padding: 1em 2em;
}

footer h2 {
    color: var(--primary-accent);
    font-size: 2.4em;
}

footer p {
    font-family: 'Tangerine', cursive;
    font-size: 2em;
}

footer div {
    margin: 0.4em;
}

span.copyright {
    font-family: italic;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

/* Multi-use / repeatable */

.flex {
    display: flex;
    justify-content: space-between;
}

.accent-1 {
    color: var(--primary-accent);
}

.accent-2 {
    color: var(--secondary-accent)
}

.no-top {
    margin-top: 0;
}

.no-bottom {
    margin-bottom: 0;
}

/* Responsive design */

@media only screen and (max-width: 1500px) {
    .container {
        width: 85%;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }

    .switchTheme {
        all: initial;

        transition: transform .2s ease-in-out;
    }

    .sun {
        transform: initial;
    }

    .moon {
        transform: rotate(-30deg);
    }
}

@media only screen and (max-width: 950px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    .navlinks {
        justify-content: start;
    }
}

@media only screen and (max-width: 640px) {
    .navlinks {
        flex-direction: column;
    }

    footer .flex {
        flex-direction: column;
    }

    .text-with-picture img {
        display: block;
        float: none;
        margin: 1em auto 1em auto;
    }
}

/* Phone site */
@media only screen and (max-width: 500px) {
    nav {
        align-items: center;
    }

    .navlinks {
        align-items: center;
    }

    .showBtn {
        display: block;
        cursor: pointer;
    }

    .nav-text:hover, .active {
        border-bottom: var(--standard-font-color) 0.1em solid;
        letter-spacing: initial;
    }
    
    .nav-text:hover span:nth-child(even), .active span:nth-child(even) {
        transform: initial;
    }
    
    .nav-text:hover span:nth-child(odd), .active span:nth-child(odd) {
        transform: initial;
    }

    .header-title {
        position: relative;
    }

    .header-hat {
        top: -2em;
        left: -1em;
    }

    article {
        padding: 2em 1em;
    }

    .article-title {
        font-size: 2.8em;
    }

    p {
        font-size: 1em;
    }

    footer {
        padding: 1em;
    }

    .hidden {
        height: 0;
        overflow: hidden;
    }
}